body{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

header,nav,section,article,aside,footer
{
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: center;

}
main{
    display: flex;
    gap:1rem;
}
aside{
    width: 100%;
}
section{
    height:15rem;
}
article{
    height: 15rem;
}
